{% load static %}
<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 NOT FOUND</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <style type="text/css">

        img{
            width: 200px;
            height: 200px;

        }
        .jumbotron{
            margin-top: 100px;
        }

    </style>

</head>

<body>
   <div class="container" style="background-color: white">
    <div class="jumbotron text-center">

        <h1>404 PAGE NOT FOUND!</h1>
        <p>This page isn't available. Sorry about that.<br>Try searching for something else.</p>
        <a href="{% url 'ghar' %}" class="btn btn-primary btn-lg">Go to Home  <span class="glyphicon glyphicon-chevron-right"></span></a>
       </div>
    </div>
</body>
</html>
